@charset "utf-8";
@media only screen and (min-width:780px){


* {
    margin: 0;
    
    
}

header {
    background-color: darkgray;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}


nav {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    justify-content: end;
}

a {
    text-decoration: none;
    background-color: rgb(72, 73, 73);
    color: white;
    padding: 10px;
    border-radius: 5px;
    flex-basis: 70px;
   
    
}
}